/*
	Docs Component + Foundation variable overrides
*/
$nodes-messages-min-width: 500px;
$nodes-messages-max-width: 500px;
$primary-color: darken(magenta, 25%);

/*
	Import foundation scss, as this is what we normally do in development
*/
@import "node_modules/foundation-sites/scss/foundation";