/*
	Test Component + Foundation variable overrides
*/
$nodes-messages-min-width: 500px;
$nodes-messages-max-width: 500px;
$primary-color: darken(magenta, 25%);

/*
	Import Foundation scss, as this is what we do in development
*/
@import "bower_components/foundation/scss/foundation";

/*
	Test bower.json + wiredep (remove this line, run grunt wiredep, look here)
*/
// bower:scss
@import "dist/nMessages.scss";
// endbower

/*
	Test Foundation skinning component (@mixins)
*/
@import "src/nMessages.foundation";
