<section id="configuration" class="full-section configuration-section" ng-app="demoApp" ng-controller="demoCtrl as demo">

    <div class="container">
        <div class="row">

            <div class="twelve columns">

                <h3>Global configuration</h3>

                <p>Some options are only configurable on a global level:</p>

                <table class="code-settings">
                    <thead>
                        <tr>
                            <th>Option</th>
                            <th>Type</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                horizontalPosition
                            </td>
                            <td>
                                <span class="js-type js-type__string">string</span>
                            </td>
                            <td>
                                Supported values:
                                <ul>
                                    <li><span class="js__string">'left'</span></li>
                                    <li><span class="js__string">'center'</span></li>
                                    <li><span class="js__string">'right'</span></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                verticalPosition
                            </td>
                            <td>
                                <span class="js-type js-type__string">string</span>
                            </td>
                            <td>
                                Supported values:
                                <ul>
                                    <li><span class="js__string">'top'</span></li>
                                    <li><span class="js__string">'center'</span></li>
                                    <li><span class="js__string">'bottom'</span></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                maxNumber
                            </td>
                            <td>
                                <span class="js-type js-type__number">int</span>
                            </td>
                            <td>
                                Limit the maximum number of messages displayed at one time
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p>Make sure the nMessagesProvider is injected in to your applications config module, and use the providers <span class="js-method">configure</span> method:</p>

<pre><code class="language-javascript">
angular.module('application').config(function(nMessagesProvider) {
nMessagesProvider.configure({
verticalPosition: 'top',
horizontalPosition: 'right',
maxNumber: 3
});
});
</code></pre>

            </div>

        </div>
    </div>

</section>

<section id="usage" class="full-section usage-section">

    <div class="container">
        <div class="row">

            <div class="twelve columns">

                <h3>Basic usage:</h3>

                <div class="code-block">
                    <p>
                        To get started, inject the <strong>nMessages</strong> provider into your controller,
                        and call the <span class="js__function">create</span> method:
                    </p>
<pre><code class="language-javascript">
angular.module('application').controller('appCtrl', function(nMessages) {
nMessages.create('The most basic message type available');
});
</code></pre>
                    <button class="show-example" ng-click="demo.createBasicMessage()">Show me</button>
                </div>

                <h3>Advanced usage:</h3>

                <div class="code-block">
                    <p>
                        You can configure the individual messages when calling the <span class="js__function">create</span> method:
                    </p>
<pre><code class="language-javascript">
vm.message = {
type: 'success',
content: 'Such message',
dismissButton: true,
dismissButtonHtml: '&times;',
dismissOnClick: true,
dismissOnTimeout: false,
timeout: 4000
};
</code></pre>
                    <button class="show-example" ng-click="demo.createAdvancedMessage()">Show me</button>
                </div>

                <h4>Options:</h4>
                <table class="code-settings">
                    <thead>
                        <tr>
                            <th>Option</th>
                            <th>Type</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                type
                            </td>
                            <td>
                                <span class="js-type js-type__string">string</span>
                            </td>
                            <td>
                                Use this to add a contextual class to your message (ie. <span class="js__string">'success'</span>, <span class="js__string">'error'</span> etc.)
                            </td>
                        </tr>
                        <tr>
                            <td>content</td>
                            <td><span class="js-type js-type__string">string</span> or <span class="js-type js-type__markup">html</span></td>
                            <td>
                                You can pass both a string or html, giving you the freedom to customize the messages as you please
                            </td>
                        </tr>
                        <tr>
                            <td>dismissButton</td>
                            <td><span class="js-type js-type__boolean">boolean</span></td>
                            <td>
                                Shows or hides the dismiss button
                            </td>
                        </tr>
                        <tr>
                            <td>dismissButtomHtml</td>
                            <td><span class="js-type js-type__string">string</span> or <span class="js-type js-type__markup">html</span></td>
                            <td>
                                You can pass both a string or html, giving you the freedom to customize the close button (ie. use an icon font)
                            </td>
                        </tr>
                        <tr>
                            <td>dissmissOnClick</td>
                            <td><span class="js-type js-type__boolean">boolean</span></td>
                            <td>
                                If <span class="js__boolean">boolean</span> is true, the message can be closed by pressing anywhere on the message - not just the close button
                            </td>
                        </tr>
                        <tr>
                            <td>dismissOnTimeout</td>
                            <td><span class="js-type js-type__boolean">boolean</span></td>
                            <td>
                                Should the message auto-close?
                            </td>
                        </tr>
                        <tr>
                            <td>timeout</td>
                            <td><span class="js-type js-type__number">int <small>(ms)</small></span></td>
                            <td>
                                If <span class="js__boolean">boolean</span> is true, the message will be auto-closed after this duration
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>You can see more examples in the examples section below.</p>
                <button ng-click="demo.createMessage()">Bonus</button>
            </div>

        </div>
    </div>

</section>

<div class="n-messages-demo">
    <n-messages-wrapper></n-messages-wrapper>
</div>
